.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    
}

.about h1{
    flex: 1;
    font-size: 100px;
}

.about h2{
    flex: 2;
    padding: 6rem;
    text-align: center;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.about__container{
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about__container img {
    height: 200px;
    width: auto;
    margin-left: 6rem;

}

.about__container button {
    margin: 0 2rem;
    width: 800px;
    height: 100px;
    border-radius: 20px;
    font-size: 30px;
}

.about__container .play_Store {
    width: 150px;
    height: 100px;
}

@media screen  and (max-width: 1150px){
    .about h2{
        font-size: 30px;
    }
    
}

@media screen  and (max-width: 800px){
    .about h2{
        font-size: 30px;
    }
    
    .about__container img {
        margin-left: 3rem;
    
    }
}

@media screen  and (max-width: 650px){
    .about h1{
        font-size: 50px;
        flex: 0.5;
    }
    
    .about h2{
        font-size: 25px;
        padding: 1rem;
    }
    
    .about__container{
        flex: 1;
    }

    .about__container img {
        margin-left: 1rem;
        height: 100px;
        width: auto;
    
    }

    .about__container button {
        font-size: 10px;
        height: 50px;
    }
}